*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
	background-color: white;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FFFFFF;
}

body {
	background-color: #DFE0DF;
}

h1 {
	display: inline-block;
	position: relative;
	top: 5px;
	left: 30px;
	margin: 0;
	color: #606969;
	font-size: 40px;
}

h4 {
	display: block;
	margin-top: 8px;
	margin-left: 30px;
	color: #FF0000;
}

main {
	margin-top: 100px;
	display: block;
}

.banner {
	width: 500px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.container {
	display: inline-block;
	position: absolute;
	right: 70px;
	top: 35%;
}

.btn {
	font-size: 14px;
	float: left;
	cursor: pointer;
}

.tweet {
	width: 500px;
	margin: 10px auto;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #E1F7F6;
}

.user {
	font-weight: bold;
	color: #1C32B2;
	margin-left: 10px;
	margin-bottom: 0px;
}

.userlink {
	cursor: pointer;
}

.message {
	margin-left: 20px;
	margin-top: 7px;
	margin-bottom: 0;
	color: #606969;
}

.timestamp {
	font-size: 12px;
	margin-left: 20px;
	margin-top: 10px;
	color: #606969;
}