*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
	background-color: white;
}

body {
	background-color: #DFE0DF;
}

h1 {
	display: inline-block;
	margin-bottom: 0;
}

h4 {
	display: block;
	margin: 10px 0;
}

main {
	margin-top: 40px;
	/*background-color: red;*/
}

.userlink {
	cursor: pointer;
	font-weight: bold;
}

.container {
	display: inline-block;
	margin-left: 150px;
}

.btn {
	font-size: 14px;
	float: left;
	cursor: pointer;
}

.message {
	margin-left: 5px;
}

.tweet {
	margin: 30px 0;
	width: 500px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
}

.timestamp {
	font-size: 12px;
	margin-left: 10px;
}